.ais-Breadcrumb__itemDisabled,
.ais-Breadcrumb__itemLabel,
.ais-Breadcrumb__rootLabel {
    color: #3369e7;
}

.ais-Breadcrumb__itemLink {
    display: inline;
    font-weight: bold;
}

.ais-Breadcrumb__itemDisabled {
    font-weight: normal;
}

.ais-Breadcrumb__separator {
    font-weight: normal;
}