{
  "plugins": ["lodash", "inline-json-import"],
  "env": {
    "development": {
      presets: [
        ["env", { "targets": { "browsers": ["last 2 versions", "ie >= 9"] } }],
        "react",
        "stage-2"
      ],
      "plugins": [
        "transform-react-jsx-source",
        "react-hot-loader/babel"
      ]
    },
    "commonjs": {
      presets: [
        ["env", { "targets": { "browsers": ["last 2 versions", "ie >= 9"] } }],
        "react",
        "stage-2",
        "babili"
      ]
    },
    "es": {
      "presets": [
        ["env", { "targets": { "browsers": ["last 2 versions", "ie >= 9"] }, "modules": false }],
        "react",
        "stage-2",
        "babili"
      ]
    }
  }
}
