{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node"],
  "rules": {
    "@typescript-eslint/naming-convention": "off",
    "spaced-comment": ["error", "always", { "markers": ["/"] }]
  }
}
