.examples-container {
  padding: 40px 0 ;

  .flex-it-2 {
    @include small-mq {
      flex: 0 1 100% !important
    }
  }

  .flex-it-2 > div {
    margin-bottom: 4em;
    background: #fefefe;
    border: 1px solid #ebebeb;
    position: relative;
    text-align: center;
    overflow: hidden;


    a {
      color: #fff;
      line-height: 5;
      padding: 0 1em;


      @include small-mq {
        figcaption {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          display: block;
          height: 50px;
          line-height: 1;
          font-size: 12px;
          top: 30px;
        }
      }
    }


    figure {
      img {
        width: 100%;
      }
    }

    figcaption {
      width: 100%;
      height: 100%;
      text-indent: 0;
      color: inherit;
      left: 0;
      background: darken($accent-color, 0.95);
      text-transform: uppercase;
      font-size: 1.6em;
      font-weight: bold;
      color: #fff;
      transform: scale(0);
      z-index: 2;
      line-height: 18;
      transition: transform 0.2s ease;
      position: absolute;
      visibility: visible;

    }

    &:hover {

      figcaption {
        transform: scale(1);
        top: 0;
      }
    }
  }
}

