@font-face
  font-family: 'algolia-website-iconfont'
  src: url("data:application/font-woff2;charset=utf-8;base64, d09GMgABAAAAAB+gAAsAAAAAN4gAAB9QAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAABmAAVBEICuJczmMBNgIkA4I0C4EcAAQgBYRGByAbMiwzo8LGAUBQfApRVCjK7L884IZMyMFtwIDC1yTKkEq0whT3cPf2T+8sXTmXZB18MG+Q4n73+5vWdNi3QwnygOas2WwSIsQECSQheJAAwVvikAQIJEiw4IFCBbGWSopYTanZUypUFHrX9qx/pXbS9qRUhV57Vr3877e95c7Ae3sSZI3HqkkEaYtYxWnXZiX5nXzuyBMveE0MMGu/r26b2MzMB94HtAQs947LE2t/lmBwmyFXVqHOcL+4TECZkxnt5qYPTfIGMJIKuzjn/isTYUbGHMkW0/II5tXZu0r5RL7P7fSBpxvmAo3tsnWYJNmXWlL0Ljp2crnW+ejDOLkPTonyU2KyPydXsD+hU0Cc2rG8d+uwTK0ve9V4omsIBFFcTByCiUu7v/bdPkbn0CD3cH/p0jYCUPRfLkc4QJhB4yIALNP7g7yASIQIfGgIHTwVAM9S0HPOc6BA6doAgFS40AqUUp6AgKMNCFVYeMsiwS1guGMCPPQsxfnZ6VxW/wxSFzgf8LDNUUuRQtIpanka4IZVfA1A1wGw/wAu2N+IHQymAIaEQzeNuHm/3JxoQiwfLomhY2G0ao8CgQcSN5xWQygMLl9+uC6GnhuZcuPYADDZpDMYdMEIRGGwKTQO10Dz8qRRXEkkPxyOZ7aWKqJw2FxXDseFzaG4u9PdyFgsO8zNhc329aDTKT7HTeBK5+Hhi4R1wVNpVB6TzXbNEjFYRCyRga1PofJ5PHYmA3VxF6aH1YdI3XEyL5KrjEom6/Xm6krDNlEormUCIsWHQSGTsSSsQJBIpZJVIgKFIuIs2y0ajU535fGIOG2M3pdMwKdgWRQyilLYOCyCTaoiDWwmLOwqWbQP4Nj/EA908nvbBMTREnTYv10VGdg/9oBGi11hr1ehAe/H9DW8yAU4VgvF/mMnPX/rqygJ4wphDBmlIK7ttEU9hHXcxNSBPuAWDkjpwM+sIMd1hSwaKLCwTxNlvESMRT1EtZUomKESBeETv1nM2BB8xFPtKUdxMVcLvulB6gFuQRWC7QyrPdfmWPUw1oSW/IiNPXUR5EPsFxUJ3IGvYAN+W/ZWjZzwMNVe9RcSGvNJB6zX8ARkdA4kM1YGLJwDhZQ85B4JPnKseVZ9jKu3Zucio4vNsCEXgqmj59vh2F49SyWfa0KFxYZVLsR35lNGy7tqYRSqUlYp94RQ2MINrA1dyN45JHO9TZccflMR+CMSjAbKiACuiu4xb3sZVZOkMSPvBGX3nLMKI16tU8FV05xoKTrLtP2MVmnLXzvOpVBtY7yJOPGUtTz8bq9T0Qlt87g+JVuuf+tQ8IK9gFyqXlOtBBYhkqQOfcHwOm3M+KdhPW8yg1TxOhGO19O2WJKxgm2hgJIK0dxCK72RAQpZwIoPfEOtUV7Qafi9C4qOmhX53qWl5CU3fsYod0AA9i+0rq/qdpDmuofc1c3Z3ohr6C5vpLy4rr2zq5OcVwkKmcRYkCcpRy2XuQIshxu6rExLRVYpiXKFFyuubs85keeeVONFqdg971KjrOAZ4UU/rbIq595GncS/4JlB8OI772GGvh0TLLigZwcK+M3pccrSCAejCEMkQNLRQCQTiAZzFTRTBJSke5ehOw++S9UUnVsmgebYgbvq2Lk6JDUni2qZccGBqNSdG2vrrcg3qQzvJWJHHx8uVZJIEZMwIS+t5OQOeXiBpn3/HC9vo2sf28r2zsK3YQfnfWW7IJF8fYtcPSJnPcPv5Gy+6qUCCSFK8CLL2+N+sPeTtVgreQmiz7N9+U62dJBVmUN8/UIvXhbbgyjp2vWm1KMP17xY2ciuWA924D+6RXYbJ7EPUVr4Q+daRqPcc4I/dgyyNTXJG38i+ZGI/aOpAEH9Naq/QEqhoQBSGtVX5E6Uc7VgReyCQVWiHQiYYhIxs0ol4KX/AWJAGBGDFFKFXCJUyUOO0URaGJQvynJRQAtZNi/C5STlJluVTfNCOpmjyQwBKhBORIMhHh6KBEVGrYfmEnJRIrm6fugfBiHGQX8C8PFfaQ5ZRewE01e2xCbmmvztJzZqtT6Ajlv2K7fk+iRkveGeAivyu/9PaqaPiUpq30H4irA6oQK8KUzP2Blz15LbZDphhr6g+qUXjKojhpUbPNjkWbsLya7cGt0jUTqQinNbmyXjUR93kWoSmjJTV/3JAxFsfxrgyaycmEr8vemFlfL5HwcfGJm6viFYsYosFhwtqz7O7l78WvnBks2mapE9we/ZIflu6TmcZxRbxZ+FETXZr1ZnVWztHvaHxaQjxwgVqU3s4uioXx+raw40B/vzvrqV9SZ5e2qbt5/TLnKd7F18tnkvu0Lk/r//Ar0pnGnQhx5fa+OxkCFqgrYDuhLPAvp0SsgZlTWJWjASPOt24xA/YslwlJ7jI97vP1jsV+L0atwHNq3uzoM/NbvX8etYzP1mLf7Au62Wi6yYSvtElUatudzyUj5XCUjoedlFOBOnRswTDGruq2TOGq0MnElUGyR4ZNw19hUN4M/T5jiNx8asGjCHXUvuIHanBHRYNVpFtUlkj7w3EnvA4GAR1GZFo2lsFjfzcnRinTbPKbhWDVms5n3aPVqF71GP3akAwFLEdMjnGvF7MUjd7W3kkq8TIFGN6hPgAJZ7TcPDHG/L7l31NecT/XjX0J6aLFsAhb23pUk5WrNPRigYEUsJrUmYEEfObvJAP9nRTlEpaM6W5KriX9a4/DjWukRJQ0XnjtfCtvjdn+AqMMLmgp47pr8v9HM//6ukssQgHRG5vlTrjX806n9EVnyIZbD25Aa9FhITGwS58YSnSJ2wgRRCxW9VirUSpwngu3WtVblaVjKNEEWOBcwIhjW+Vk6EQbWvAZQsAya4vPdHft+NedFFP+o4J42gOXGO98njCRxu57vNY12YCOKp4ExdLYOa+azBzUJucVixML7/0WQGtfRxehd3A+Xtuj7mt6d8SK816dVGq6wlUh6HqZ0HsU8zu0/hRami0zTGg850QBV2Z0JBk2WX2M+ze86KbDo+aCag1IovIdOittPCrYY8HeZBnEL9nrE/h9lE3fiSKq2E4z1mYnHEedQLYojKEZUQJqWSWrZGq+RPYVRh8rhTrUZ1DVkx7so3NO6ZCAT5P/y7Uh8J39W/U/qleV46oKnkE3H8uRAyV4KCtGiPocCAUCWAoDjRPgkhGOlT/BbHqXnyACv2Hae8K6ftI81OVbN873odkYv8x/Vxznv8TL0iSfFBk/hhwVfw2aoLTvtSX4vTAbTcYk5v8gcB+c39M6h+UgxP67AJfx1id9qwQ2BE0NtctJwA5jiGCZFg7sGw+hbp/NIH5ArbzbXC5viD9+Ye+WXwwMqPOAGthgs5irWnONWHRyyuTcmhDYIeBPBc+4pBjIwbVBq/KZS0NoD1RtXBhP531G8K3znJand9uXJcdEaesD+tya9+fg8TjAvOKWUUltt6kdHr/pUuSQr/bR0WblzOJPsadlrz1KFuqYITcNl1Xy3t4fkhZemgutIR3V9+mmLZ1TgMVsFY1a+8ILaxM8o/TPiiRlsrQ9PlcnfM0iSZeH4VF4twHxVzdaRctfiF7sbvtIa3m+EGodJY52Subc7Ac8Pb6aWiyE4Y8FxRzFbYGo98D9G8p7zGVHEVCV3Wl9YuEfOlLLEOxHhkI2xyntjHunkV6FiS7+nV2CA+3msUlafrFRIcMW/e8K/jQS4dkPtpzB90YaAM0MUxAqtSGEjyL0WmYG+3aoeouW8W2tgRyB8/LfMPwhjbfGOUKOWc2HYiO6VvA7F2bYm/hFZ2wO66hKopaH8cheBJFLCTYGKK79F+Uxn0trMDQhRJSrAVwWZ3YY4Nm1GmeB9/0Deb3bdqd/rpkEHlavMYGbvJfR6ZIF8G8c72XD3EHrpEGhgN3aCwbfz9p/piyGqoPpOPrGz4bpNbXm7OhoMaj1LY9Y2Msm7eiNhyNFnbykUjlYVnb+aO3Lx5wwtp+9kX806zlVqv38zNL1i4FVloZdNbeRv34Ri7ABDT4pscdAttzcHN4NjCTRZ//Sb2+hwTu9jfCArT4VtFNriv3eK+YQuycEtpbg6m/X972U1Dox4FWbuGebX7TvOtue2bfg6hNdxroxRtdRAlBDVY11pKdftpR2zdqYv/gVc4Hlf/D2GrweSiJIpgKATOGPzrNu8PrmQ6ebe5NN5EMlZPTBxSIAzG1YI7GxrknYF5ncCjcQfokLg/l4ADsxsIYwQFYZTQQBgmax8hu7nh6gQTMLyPLU2mlkbaKOSCWBSFsg6Vx4Skf4QOofcCb7gAmdW7JUKri9gZRmsjtkR2uVkfywsDtNoAW7RcZtFqC/3l0WmtLqAod9NoiwLkpw01NcZUDDYYlVTjtHBS+lALo3UKHYvQlQH1mAjMnjLngYfGxMOiff8xsIxpd9t6qWvXmR+CvelVjEJ40YVoBOrbzGFVShAAEhtsYhDjtilXrmST8GKa2Dvw7tjqacpt+MLgM2cUnPgPBqdL4LYpxsawGyaOxJ42R+Lweyqr2MSI0w3gTjJvknef+5rn3bn3eZPcw+PT1fakh0nh5Znrq8bgRMJMxFc7x+DpaZjjq2Vk0kUcpkRtj7Tds/EZfP+2vRrb9GsvaPXnMYIcXCf3gdSssi4VE8eIBD+YQIzdGtRTNxiZfvr/lmQfnU9yvP+Hvr1Qdw1ME2ecT9lsP/Y4WyLNfn7DsWdzJzkkziRXohmAHHWfTHATc35affINAEzv1eMyNQuVhE9eg6yMDB48GQ+PYqFq2Q/H4cKZ41dZUbJwFXptErQ4XD2MPyni2o0+/gPEnNi4j6+eCFfdJpQBDfQvJ5NgWOrwayeg9nvhhFDkB4uErx28aDaZFgdGlcSYycJXwl/SL+C0WGyYH1e+cvF/Pm44up2uk6QvbG5uxgv9QTzjnFW5saFxvcqaO6iqb1RttFoFKUoZudb1qobGckmrLtx5zekMda5ynCFOF1LYKlrIH3fv186A3jxKfx+fHxEbGRET8fTprd99Yn1Gv2AE2XX9bDCdPXbMZDp2LLbkk3QcPzzqmU6H6UZPepKRkZ7dK19Kk7Kz5b1Li2RnviD29YX6uPoGiPWoGDF2dhhHKisEaWrEWJEPr6h0L6tL644rL4/rSU2L6wZKibTUHtK7aXBcD6KfIBWceJlMp5PJYkVg6ox1xtr9+Zqe69ssNmIicablxra12oIlBYa1mxo3Na26uNZ4bs/uubnNMouwyzXr+tYeTf7+WuO6zY0urCnfVO6elnAvI9W6JmfNbONdk1EPn90NQ3xUsmeGVKNtm52/M7KoUJDO07ZptPk2FLJkyJNJeCIpvXTz5vHSLDanJr77xs0bVTP+MIsf57K23br2dt1um02QXt5unS1/ndfUF3BICrlW9bGeumSugyVIVSocPsGZnApfI2xzp1V2N9eRSZkpuU2eIYO1tdMZbqRmanOrvYpKy21tuUGHs7S05tCo9mUqqVB/cqkz1t2VpZ4P652v8ZDyelhBXlNWgZocv+Yq1gm6s4mCmed/NJlCPGcKEhPlyfIMMZl+PC+YmVj6z9JrQ9t+SlGl/3zdGnp65lhtQRojk5yNkzLcHBgcBkUx5HzHOZZhgKViuevLWumHli0Va9Z0zOXO8ksSfSITDOIVfF1fZnBnZ6IhuqerKrmcfCov6XFcU5CK+619BGe73/1Wh/HzzNiWEDRt5sWSZLUgspujEHS7aPz6zWZ3Y+zb7e78+h9hY2BbxUXxmQPi39Yu2L5uwY3rgf0RF2cVvQ+9tCB+QXCC7Fo2VhIp+crm7AUEeL5piC/vb9wFgGSNIRg68pUYsb1k4EUgL1HsZ/QxEML1wApqY6PBzSSZWlXHEqrM6YaciqaKwDaw/VKZQPya9HUMTT/ehDm3HWPZemtreFpL9ZT1oYydt4ocr5LYVwblQ49x5u1fNRe0IxkOwX/q69LqKTbHzlvMwTDAnROti1E9f6AOWy5BXBM2vCzRKni4bemMJdN/aj17F97akci8/AfVX4z9uh9sa93E/EtuTLeVXH39nO4QzieDv/pVmtfGF7vhfQMhR8JU6jC3BO89u2lSR7w6ojEnpylCpWmJ+mLFije73C+czM0dXL5CqGbml19rO1zeAlBcH5+9fnBw9x6IKlmrSNqu2LtDYfQka+7Yq9gOdDgsaS8u+9mbtGNOOCQW6OcndgYGeuk0Oi9C0qLx0kEmdha6C2IFfQK/AIRo7xvhU2wM6TPX1VvUXMwdIiHQ08aKz4THQfCQC8wE+MmMDfD9vN7o0pHd6bs4OWAkFA4rgvesEwjW7VEEH4bQkYDkxb6dHVlGwmk3YaiGTLyDUXPrLea6kD7jWw7f01Z6bytOMCQVyafmeE+PKWw5tnZ1b4WH5aiLy1GLR29FdlTLscKYYoCpOUXyJENxwjaI+IOv8Y3y/SBRDe38QntTWkHoTGyhAG7XwIwOqEXe2mZDS4LkN7EBmiCk5GFdpaSGX8dp1yHEh5t6f8XSUAupwpIaTT2oTcFEo+/+jivseTPoNuWK+FB3zAqvyqIU1Sh475z1/3X4PNPJ+SfC5xkPkecfk540rn4VD0yE6uF4xPKVdcV2xxc6iaIBoyJgU2IT8zAx4fRMkXtIP8svqqTPgks+f87aN/gbzfxNZumDensG2B/t2fYwJjyCmoY3uRkVm97HmeclAFeSj61yzQJdVEQxmmwASFRV5gk0shbfreyCAruuVl+NTJDXlONT7zZASU01D2W9W45PBXxTP9HBYXJaJVmjtflb2M3bdU8bb5Yknp9PVcs8BWr/EN6wS1GSYtG2sKvs4fZsVXqCTJ6Xnqwjv3K/tDBFwnWtlpCiyI8Kk2g8zCJ9WKixzBoPSVJ7ALWdk1PFsasjTAnh8vx0XXK+8ZUa+n6nVhtkUBXIw3w0HmVCfWgY1qdM4+ED8W/3C9lM1+NnZENMRPn3uc8tggF6n3cwfhjfIVhCOOhG/mX1H23xd+kYjJZY7YJRMN61m7cQFCgLARkGCQfXbgjyiSyPvAJn3QJcrCIXF7Emo8LyBXxJ4PPzwUFgyc2w81m5JQ1Si2oMCmj0RwC4noaXP39Ho3U6eKR/Hrnz3ePjS/s8HOpWi2jvfv4sm09QV1FnHHzev3TprHPg/l/Kw0ESse/R4FfMa/qrgaZ/crv+1fq/En3vKY6AU0jr0yzV4YnBaW7q0CgFnrKMF5NmSSRLgoajiuOkXsZYjbAOBSQBo0ADNMIYgSFIobRHQ9qLCWYknupCSRJHYLy81/fZv8g9af0yG8JpVGtbaycJjyOi3LnZfVYKg8IslQ/k+HhhxIhY6OVCxUUxJiYZqox7LsK+9dlXc0/lLgk3iY5zKEpPZtsXEDA4lNLdBn3VFLoAU6LdlyPyYooBqqZwJjjcWxxbsNEsEhqDA6Uhr88oDB6SGkX5JoZybnG4lzihIf9Jh0LuSANDXkltSyt31AcGz2yVbpbuySR9nJc5kpDP0s0hk2SbDMnk3OIW+oYlhxhjw6O/sRDW89HRfQz6iBxkjNEJhvXn3Ov9Yt0HsphruL+ut5fKvrx4cxf/9TpExjPMnv3Un7by6JG45paLWs1iHaJchyOr4mJXQh5IamJCxKbxTFFYmJQZ90kPjVHz6Hzg03k5up48Bi/DIoiJt2QkJJgz42IWH5D+Jw3xesj6fQghEv/3btvH5J40RVidxTwrXKGoCzebw+sURk3X78Xdj/7Om3VQawor5FdGF2q2trZu1RQWbNO0tGq3Fsa4V8uKkk23bXmPrVZPu4dnjudpD6t7DC6QoPruzWzdm4jDjqjc/w6Lnp2seTMn1X37bUQgH68vZuE2mSLemlstFvf0NO1iYd2KCt1R9s7m7h6xuNqaG68M315YtEIhMyRX18s0d+/EskiFRUQ2uqurxYRalWIIVy4vMhc4wpG2Y4+WjY29sxl76SihoICA0nuMxf+OjS17dKwNkTkKzCwiRvWxvxfM8W+xsYfBnIVF7zXa3s2y4O9j1QzhsovCsyT/+WTJwmWSk/qEy1peS7JWCNUnsyThjqTc3CRgjViN3Kr+n+V0rkdR5+JXAIVnfBntBlXJ5yupN2gyvud4Hzxs8PPvgRsCwYJse5AgcDgQ6mbMc6XCF8TLjuDi1Q2NkTvxZHCNP3gw3hUl8frIhkb1ajx+dWRjY2QcHsm4gweKbNVZ2oDDGxBZtXf8gYNxkTjSTjpxPamoIuN3vpGRBjyADOxfhPVuLClub3+dyespmVWt85swmye1UpupsEwne202Q4q8srlH0PcMcXzuHkxFlifs3Rnuv8SHLjkVGdwhZEfgWovzF/PtGYpmyRyX76E74a+a1LSq4HnaHNX6xrqNSqtVkKLkK0cbPC/VXpP2oOhtojorRmkrVKvp5yhjddnG4rcwWz7fxzfb16yzI9uzVRBSoGHUC1o9Q+/nX5qeDYyGmNF/vE8TqmG83atPQwoJCQ15UF8wv1mfb9+1+Rc+hPSHwFRGMSm5tkiLoStMCaFKFyCpwbckl7hcX1YnXUHKXB+Zrg3NpHd3q4JusVKto0MtgKDIM6yRlEnEzKFI02gzvRkwJSml3+cUgdd/L8qyrQW3vLAwSRp00S1UlVhFtdB7IUKTmSm0wo+WCqeRQgI92G2gQpTTCvWARWiu8M3Lb8CVhuihpgBUoKws1gM8Z+rNQXtwft8s51LiSGkLZIpC+jJyarxrXfBRHG5P0DblcFFtlKvGrrNmzKbL7ciiAWX+IfYBlTTS2eljVyiUfTEG06KEqurERSaTIEVpm0yaOcFl6dqZVCXKFTPN2ApcM+dkmOq/NLcg+a/9i7T+hXK5Vf8MEKIszydMo7GLA2I/kO5SxJS7wIpksPrG9x1tNzOdlzsuX3Zcfs3MOsVkepn1eoQ3t8lpZrYze/qVcafOjLP6GNb8cvvlifT+lP5+fV9cZr1+cBH0Jw9m6KQluW8QWwNxGTXu2e6UaX3Dw1/YveX6BTE2W8wCvT7GoeiC6nPfxbZoh17uXfn78L7edRTn1hfFGZcyfUJD5RhnfDLCQn0yxy5CGBdnhgJtZGiB646JCcmn8ythEpiH4MyyT5KJVzs+7nV840P5uP3VhO/HM8vhLJ3xCs6v+ug7MbGdPOQAVFx+wLBwoeFARTkhRamhvCJHpOF9z25VizZS0nn/n7as2HZFSZe4B1Rn1daNq0WbaSb+Bf388vIrCprYnVCdPZNqgbKyl3SFj8fK3pnZYjV9M9+0ZC1hw/dQUvqJrpK4O3pqzCI1bRMvffGaf1OWG6ZVG2XvaQZjta0afPfN283/GHO1bZF5eZFtWpm7tefMr8+9I/3y1eo8vyjgJZ/5/oN3lF+eWp3vFzlzWQDshh8HL5j/CZmt5j0Bg+ar7qsPiUe+rgnZMdKxeUvT9TaVwC/FbteTWG5llR6FYSaFy44z/NCgVP+MOW6AIIqM4rEd5a7EN/XYPI3jq5n+U8mKFWv6Ag1zRgvmL1MczsWT8QsvkwBK5q2IXpVi9rVUr/TtCM8Qbpka1GCYwmeSyGwyCUsisQgStoSAIZGxxPE7SEwzBjQkbRFmCFuXH03m7YqfPDSl3Ed8oOPhJzLp08OOA2KfzSsfviRTDp/LWRrNikbuawUPDF5n59VvrZlBZn+wSJS6Ed08PxYHA6IHG3Sd/g36wmqB4i7w5YtqVzVM/0/WcmFOGV4Pbud5Ht22lEsMBa899aSpsD83Id+vkHENzmmuhxwvUsXUBNP/ifN6EXMWQRwQaXOIc/wqZCW5yc33A29c2zLfwluD1bgva4Gs8zwshUJnsdRJQsqZ8Yk32q242lpZD+2bifFLn8PD1CwWnULB8vhow+Fgq5JElLE5xj/LwlTsRWjGzA897vWkQgRGLZt6mR8GJ3eNzRrhRCRd/sSEE7uGLKc44HU0giw0TUyavIND0kTDovSQI7oLZHHq3jShVEr64BDc4x3Z9ci7C0cOkyFC9F6eJL94OloaND84+MAVnEk1o6aBAdNoTQ0hRalYTZ439efhvXtTwzDESgEkD4KrH1CUGQDY53yHLjYLcBPeo6GYqUgcrMT8i3mGdFhw5g2Cl0g4qsa0QBrko9cwj2AYatAclAt+0IS+QnlwA9aiX6B4eBvo6AW0F42DJ2oyH59sSEdPmG9AF6BoBdqPEqEdvYd5DOD80btoJ7oCDWgEGowIoBcNoBwwOT+hd9AN6J7zKZqAbkLgHCpGjyLk//lWNufqkm2Glvg3gYw9vNb1lE4xtTgvFslzAP/FRziJAPqPwBg0FsFekoNzp2FHMUzd2Y1F6C4W0PYzESdwH3wrHDm4SUEHQ0cjellqyMb2osMEPWEv9BMpuYiDSBbSDgOE7P5gMawYcAMmwZWCWhfj/aNS2NUTLhWbSiJ/SvrABjE7J2WogokC2vtfaQTB44S/idolcM0AE7yXikPtr+LxEUCQBl+Cy0t2kpyiwubXuQuBOECajoFhZOp0FOJwDGBHIJbpOCDw/3Q8xOH9c5PgHtACCoAlAsALwDMLDIggJWgOGNcDGIHUTA/CCGyhQxhA949hchTIg66DZSnvWCX71Iq6Ut45JEyg1ZFaa6XgOrUqUn852RJqrqwcat5o0FhhxwaUwFc4ifpW11WW7Ks2AA3BsQcd1C4BuDXyUyd6OyLoI7vBrrd1BWVoOPxnJ3t2O8I9XyJD8XhP/1v4az/UY2Bd8oa0UcB0Xa+8HQYAAAA=") format("woff2"), url("../../fonts/algolia-website-iconfont.woff?bf047be8fb9dbe548474c084db0db60f") format("woff"), url("../../fonts/algolia-website-iconfont.ttf?2db4fe2970dc239a477cc5788a90ea3d") format("truetype")
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  font-family: 'algolia-website-iconfont' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-fw
  display: inline-block
  max-width: 1em

.icon-arrow-right:before
  position: relative
  top: 2px

.icon-play:before
  position: relative
  left: 2px

.icon[class*="-gradient-"]
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  @supports not ((-webkit-background-clip: text) or (-webkit-text-fill-color: transparent))
    -webkit-background-clip: initial !important
    -webkit-text-fill-color: initial !important
    background: transparent !important

.icon-quote:before
  content: "\e948"

.icon-play:before
  content: "\e947"

.icon-blog:before
  content: "\e900"

.icon-stories:before
  content: "\e901"

.icon-add:before
  content: "\e902"

.icon-algolia-mark:before
  content: "\e903"

.icon-analytics:before
  content: "\e904"

.icon-android:before
  content: "\e905"

.icon-arrow-left:before
  content: "\e906"

.icon-arrow-right:before
  content: "\e907"

.icon-calendar:before
  content: "\e908"

.icon-caret-down:before
  content: "\e909"

.icon-caret-left:before
  content: "\e90a"

.icon-caret-right:before
  content: "\e90b"

.icon-caret-top:before
  content: "\e90c"

.icon-cart:before
  content: "\e90d"

.icon-check-circle:before
  content: "\e90e"

.icon-check:before
  content: "\e90f"

.icon-clear:before
  content: "\e910"

.icon-clock:before
  content: "\e911"

.icon-close:before
  content: "\e912"

.icon-code:before
  content: "\e913"

.icon-comment:before
  content: "\e914"

.icon-copy:before
  content: "\e915"

.icon-docs:before
  content: "\e916"

.icon-download:before
  content: "\e917"

.icon-dribbble:before
  content: "\e918"

.icon-email:before
  content: "\e919"

.icon-facebook:before
  content: "\e91a"

.icon-facet:before
  content: "\e91b"

.icon-fav:before
  content: "\e91c"

.icon-file:before
  content: "\e91d"

.icon-filters:before
  content: "\e91e"

.icon-geo-unknow:before
  content: "\e91f"

.icon-geoloc:before
  content: "\e920"

.icon-github:before
  content: "\e921"

.icon-heart:before
  content: "\e922"

.icon-heroku:before
  content: "\e923"

.icon-highlight:before
  content: "\e924"

.icon-home:before
  content: "\e925"

.icon-hot:before
  content: "\e926"

.icon-index:before
  content: "\e927"

.icon-infinite:before
  content: "\e928"

.icon-medium:before
  content: "\e929"

.icon-ios:before
  content: "\e92a"

.icon-jsfiddle:before
  content: "\e92b"

.icon-link:before
  content: "\e92c"

.icon-linkedin:before
  content: "\e92d"

.icon-lock:before
  content: "\e92e"

.icon-logout:before
  content: "\e92f"

.icon-magento:before
  content: "\e930"

.icon-instagram:before
  content: "\e931"

.icon-menu:before
  content: "\e932"

.icon-more:before
  content: "\e933"

.icon-move:before
  content: "\e934"

.icon-offline:before
  content: "\e935"

.icon-opensource:before
  content: "\e936"

.icon-pdf:before
  content: "\e937"

.icon-quotes:before
  content: "\e938"

.icon-ranking:before
  content: "\e939"

.icon-refresh:before
  content: "\e93a"

.icon-scissors:before
  content: "\e93b"

.icon-search:before
  content: "\e93c"

.icon-select:before
  content: "\e93d"

.icon-support:before
  content: "\e93e"

.icon-sync:before
  content: "\e93f"

.icon-transition:before
  content: "\e940"

.icon-twitter:before
  content: "\e941"

.icon-typo:before
  content: "\e942"

.icon-wordpress:before
  content: "\e943"

.icon-youtube:before
  content: "\e944"

.icon-zap:before
  content: "\e945"

.icon-zendesk:before
  content: "\e946"